- content_for :breadcrumb do
  - nodes = [{ label: 'Your work', path: '/' }, { label: 'Projects', path: dashboard_projects_path }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: "w-full bg-white p-2 rounded-lg" }
  %div{ class: "w-full max-w-6xl mx-auto" }
    = turbo_frame_tag 'show_project' do
      %h2{ class: 'text-3xl font-semibold mb-6' }= @project.name
      %div{ class: 'space-y-4' }
        %div{ class: 'flex justify-between items-center' }
          %span{ class: 'font-medium text-gray-700' } Path:
          %span{ class: 'text-gray-900' }= @project.path

        %div{ class: 'flex justify-between items-center' }
          %span{ class: 'font-medium text-gray-700' } SSH URL:
          %span{ class: 'text-gray-900' }= @project.ssh_url_to_repo

        %div{ class: 'flex justify-between items-center' }
          %span{ class: 'font-medium text-gray-700' } URl URL:
          = link_to @project.web_url, @project.web_url, target: '_blank', class: 'text-gray-900'

      %div{ class: 'flex justify-between items-center mt-6' }
        = link_to 'Back', dashboard_projects_path, class: 'text-gray-600 hover:underline'
        %div{ class: 'space-x-4 relative', data: {controller: 'dashboard' } }
          = link_to '#', class: 'py-2 px-4 rounded-md',
                  data: { action: 'click->dashboard#toggleMenu' } do
            = icon 'dots-three-vertical'
          %div{ class: 'absolute right-0 bg-white border border-gray-300 rounded-sm shadow-lg hidden', data: { 'dashboard-target': 'menu' } }
            %div{ class: 'px-2 text-gray-700 hover:bg-gray-100' }
              = link_to 'Edit', edit_namespace_project_path(@project.namespace.parent.full_path, @project.namespace.path), class: 'block', data: { turbo: false }
            %div{ class: 'px-2 text-gray-700 hover:bg-gray-100' }
              = button_to 'Delete', dashboard_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'block'
