%h2.text-2xl.font-bold.text-center.mb-8.text-gray-800 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg' }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-4
    = f.label :email, class: 'block text-sm font-semibold text-gray-700'
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full px-4 py-2 border border-gray-300 rounded-md text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500'
  .mb-6
    = f.submit "Send me reset password instructions", class: 'w-full py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500'
  = render "devise/shared/links", class: "mt-6"
