.mt-6
  = form_with model: [noteable.project, noteable, Note.new], url: namespace_project_notes_path(noteable.project.namespace.parent.full_path, noteable.project.path, target_id: noteable.id), local: false do |f|
    = f.hidden_field :noteable_type, value: noteable.class.name
    = f.hidden_field :noteable_id, value: noteable.id
    = hidden_field_tag :target_id, noteable.id

    = render 'shared/markdown_editor', f: f, field: :note, placeholder: 'Write a comment...', min_height: 'min-h-40', initial_content: '', textarea_id: "editor-#{noteable.class.name.underscore}-#{noteable.id}"

    .flex.justify-end.mt-3
      = f.submit 'Comment', class: 'px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-md'
