.mt-6
  = form_with model: [noteable.project, noteable, Note.new], url: namespace_project_notes_path(noteable.project.namespace.parent.full_path, noteable.project.path, target_id: noteable.id), local: false do |f|
    = f.hidden_field :noteable_type, value: noteable.class.name
    = f.hidden_field :noteable_id, value: noteable.id
    = hidden_field_tag :target_id, noteable.id

    %div{ 'data-controller': 'lexxy-markdown', 'data-lexxy-markdown-initial-content-value': '' }
      %lexxy-editor{ id: "editor-#{noteable.class.name.underscore}-#{noteable.id}", 'data-lexxy-markdown-target': 'editor', placeholder: 'Write a comment...', class: 'w-full min-h-20 border border-slate-300 rounded-md text-sm bg-white', style: '--lexxy-toolbar-height: 32px; --lexxy-toolbar-button-size: 24px;', attachments: 'false' }
      = f.hidden_field :note, 'data-lexxy-markdown-target': 'hiddenField'

    .flex.justify-end.mt-3
      = f.submit 'Comment', class: 'px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-md'
