- selected_ids_str = selected_label_ids&.join(',') || ''
%div{ class: "bg-white border-b border-slate-200 rounded-b-lg p-4", id: "stage-labels-card-#{stage.id}", data: { controller: 'stage-label-search', 'stage-label-search-stage-id-value': stage.id, 'stage-label-search-selected-value': selected_ids_str, 'stage-label-search-target': 'card' } }

  = render 'projects/stages/search_form', stage: stage, board: @board, project: @project, selected_label_ids: selected_label_ids
  = render 'projects/stages/update_form', stage: stage, board: @board, project: @project, selected_label_ids: selected_label_ids

  = turbo_frame_tag "selected-labels-#{stage.id}" do
    = render 'projects/stages/selected_labels', stage: stage, selected_label_ids: selected_label_ids
    = render 'projects/stages/stage_edit_form', stage: stage, board: @board, project: @project

  %div{ class: 'flex justify-end gap-2 pt-2 mt-2 border-slate-200' }
    - unless stage.closed?
      = button_to namespace_project_board_stage_path(project.namespace.parent.full_path, project.path, board, stage), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this stage?" } }, class: 'px-2 py-0.5 bg-red-50 hover:bg-red-100 text-red-700 text-xs font-medium rounded', remote: true do
        Delete
    %button{ type: 'button', class: 'px-2 py-0.5 bg-slate-100 hover:bg-slate-200 text-slate-700 text-xs font-medium rounded', data: { action: 'click->stage-label-search#hideCard' } }
      Done
