%p
  = "Merge request"
  = link_to "!#{@merge_request.iid} #{@merge_request.title}", @target_url
  was merged.

- if @updated_by
  %p
    Merged by
    = @updated_by.name

%p
  = link_to 'View Merge Request', @target_url
