- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Merge Requests', path: namespace_project_merge_requests_path(@project.namespace.parent.full_path, @project.path) }, { label: "##{@merge_request.id}", path: namespace_project_merge_request_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path, @merge_request) }, { label: 'Edit' }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: 'w-full bg-white p-6' }
  %div{ class: 'w-full max-w-6xl mx-auto flex flex-col px-4' }
    %div{ class: 'mb-8' }
      %h1{ class: 'text-2xl font-bold text-slate-900 mb-2' }= _('Edit Merge Request')
      %p{ class: 'text-slate-600' }= _('Update the details of your merge request.')

    = render 'form'
