!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Gitnix"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-gray-100.text-gray-900.font-sans
    .min-h-screen.flex.flex-col
      - if notice
        .bg-green-500.text-white.text-center.py-3.px-5.rounded-md.my-4.mx-5
          = notice
      - if alert
        .bg-red-500.text-white.text-center.py-3.px-5.rounded-md.my-4.mx-5
          = alert
      .flex-grow.flex.flex-col.justify-center.items-center
        = yield
